<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Home Page</h1>
<h3><%= ["AAA", "BBB", "CCC"][0] %></h3>
<p>If one of the packages npm tries to install is a native node module and requires compiling of <b>C++</b> Code,
    npm will use node-gyp for that task. For a Unix system, node-gyp needs Python, make and a build chain like GCC.
    On Windows, Python and Microsoft Visual Studio C++ are needed. For more information visit the node-gyp repository and the node-gyp Wiki.</p>
<button>Click Me!</button>
</body>
</html>